aiosqlite==0.17.0; python_version >= "3.7" and python_version < "4.0"
anyio==3.6.1; python_version >= "3.7" and python_full_version >= "3.6.2"
asyncpg==0.25.0; python_full_version >= "3.6.0"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
certifi==2021.5.30; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
fastapi==0.78.0; python_full_version >= "3.6.1"
h11==0.12.0; python_version >= "3.7"
httpcore==0.15.0; python_version >= "3.7"
httpx==0.23.0; python_version >= "3.7"
idna==3.2; python_version >= "3.7" and python_full_version >= "3.6.2"
iniconfig==1.1.1; python_version >= "3.7"
iso8601==1.0.2; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.7"
packaging==21.0; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
py==1.10.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pydantic==1.8.2; python_full_version >= "3.6.1"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pypika-tortoise==0.1.5; python_version >= "3.7" and python_version < "4.0"
pytest==7.1.2; python_version >= "3.7"
python-dotenv==0.20.0; python_version >= "3.5"
pytz==2021.1; python_version >= "3.7" and python_version < "4.0"
rfc3986==1.5.0; python_version >= "3.7"
sniffio==1.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
starlette==0.19.1; python_version >= "3.6" and python_full_version >= "3.6.1"
tomli==2.0.1; python_version >= "3.7"
tortoise-orm==0.19.1; python_version >= "3.7" and python_version < "4.0"
typing-extensions==3.10.0.2; python_version >= "3.7" and python_full_version >= "3.6.1" and python_version < "3.10"
